<% action = "#{type.to_s}_task" %>
<tr>
  <td>
    <%= h task.description %>
  </td>
  <td>
    <form action="/<%= action %>/<%= task.id %>", method="post">
      <button type="submit" class="btn">Done</button>
      <input name="status" type="hidden" value="done" />
      <input name="_method" type="hidden" value="put" />
    </form>
    </div>
  </td>
  <td>
    <% if type == :recurring %>
      Every <%= task.frequency %> week(s)
    <% else %>
      <form action="/unique_task/<%= task.id %>", method="post">
        <button type="submit" class="btn">Postpone</button>
        <input name="status" type="hidden" value="not_started" />
        <input name="_method" type="hidden" value="put" />
      </form>
    <% end %>
  </td>
</tr>
