<% is_done = task.status == "done" %>
<tr>
  <td>
    <%= h task.description %>
  </td>
  <td>
    <% if is_done %><i class="icon-ok"></i><% end %>
  </td>
  <td>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn<%= ' active' unless is_done %>">Not Done</button>
      <button type="button" class="btn btn-success <%= ' active' if is_done %>">Done</button>
  </td>
  <td>
    <% if type == :recurring %>
      Every <%= task.frequency %> week(s)
    <% else %>
      <form action="/unique_task/<%= task.id %>", method="post">
        <button type="submit" class="btn">Postpone</button>
        <input name="status" type="hidden" value="not_started" />
        <input name="_method" type="hidden" value="put" />
      </form>
    <% end %>
  </td>
</div>
