<div class="row">
  <div class="span3">
    <%= h task.description %>
  </div>
  <div class="span2"> Repeats every <%= task.frequency == 1 ? "week" : "#{task.frequency} weeks" %></div>
  <div class="span2">
    <button class="btn show-task-form" id="show-recurring-task-form-<%= task.id %>"><i class="icon-edit"></i> Edit</button>
    <button class="btn hide-task-form" id="hide-recurring-task-form-<%= task.id %>"><i class="icon-ban-circle"></i> Cancel</button>
  </div>
  <div class="span3">
    <div>
      <form action="/recurring_task/<%= task.id %>", method="post">
        <% if task.enabled %>
          <button class="btn disabled"><i class="icon-plus"></i> Enabled</button>
          <button type="submit" class="btn">Disable! <i class="icon-minus"></i></button>
        <% else %>
          <button type="submit"  class="btn"><i class="icon-plus"></i> Enable!</button>
          <button class="btn disabled">Disabled <i class="icon-minus"></i></button>
        <% end %>
        <input name="enabled" type="hidden" value="<%= !task.enabled %>" />
        <input name="_method" type="hidden" value="put" />
      </form>
    </div>
  </div>
  <div class="span2">
    <form action="/recurring_task/<%= task.id %>", method="post">
      <button class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</button>
      <input name="_method" type="hidden" value="delete" />
    </form>
  </div>
</div>
<%= erb :"tasks/form_for_recurring", locals: {
  id: task.id.to_s
} %>
