<div class="row">
  <div class="span3">
    <%= h task.description %>
  </div>
  <div class="span2"></div>
  <div class="span2">
    <button class="btn show-task-form" id="show-unique-task-form-<%= task.id %>"><i class="icon-edit"></i> Edit</button>
    <button class="btn hide-task-form" id="hide-unique-task-form-<%= task.id %>"><i class="icon-ban-circle"></i> Cancel</button>
  </div>
  <div class="span3">
    <button class="btn"><i class="icon-edit"></i> Affect to sprint</button>
  </div>
  <div class="span2">
    <form action="/unique_task/<%= task.id %>", method="post">
      <button class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete</button>
      <input name="_method" type="hidden" value="delete" />
    </form>
  </div>
</div>
<%= erb :"tasks/form_for_unique", locals: {
  id: task.id.to_s
} %>
